.App {
  display: flex;
  min-height: 100vh;
}

.Column {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

/* Columns which are not the last child */
.Column:not(:last-child) {
  border-right: thin grey solid;
}

/* Divs which are chilren of a column but are not the last child */
.Column > div:not(:last-child) {
  border-bottom: thin grey solid;
}

.Editor {
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
  overflow: auto;
}

.Editor pre {
  padding: 8px;
}

button {
  margin: 8px 0px 8px 8px;
  font-size: 16px;
  text-decoration: none;
  border: thin grey solid;
}

.StartButton {
  color: #22863A;
}

.StopButton {
  color: #D73A49;
}

.Log {
  overflow-y: auto;
  height: 20em;
}

.Log > pre {
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
  border-bottom: thin grey solid;
  margin: 8px;
}

.Log > pre:not(:last-child) {
}
